// Place all the styles related to the invitation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');


body{
    margin: 0;
}

div.main{
    width: 100%;
    background-image: url("/assets//129.JPG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    // background-color: rgb(0, 153, 204);
    div.title{
        padding-top: 15%;
        padding-bottom: 20%;
        p{
            margin: 0;
            text-align: center;
            font-size: 4em;
            // color: rgb(209, 174, 21);
            color: rgb(255, 249, 238);
            font-family: cursive;
        }
    }
    div.button{
        // width: 100%;
        display: flex;
        // flex-flow: column wrap;
        // align-items: center;
        justify-content: space-around;
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 5%;
        div.button1{
            width:20%;
            // text-align: center;
            // background: url(/assets//button1_hover.png) no-repeat;
            // background-position: center;
            // background-size: 60%;
            // // background-size: 30vh; 
            // img{
            //     padding: 3%;
            //     // width: 30vh;
            //     width: 60%;
            // }
            // img:hover{
            //     opacity: 0;
            // }  
            a{
                text-decoration: none;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }

            }
        }
        div.button2{
            width: 20%;
            a{
                text-decoration: none;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }

            }
        }
        div.button3{
            width: 20%;
            a{
                text-decoration: none;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }

            }       
        }
    }
}

@media (max-width: 799px){
    div.main{
        background-size:cover;
        div.title{
            p{
                font-size: 14vw;
            }
        }
        div.button{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            // justify-content: space-around;
            width: 70%;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 5%;
            div.button1{
                width: 60%;
                margin: 3%;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }
            }
            div.button2{
                width: 60%;
                margin: 3%;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }
            }
            div.button3{
                width: 60%;
                margin: 3%;
                div{
                    padding: 15%;
                    border: solid 2px rgba($color: white, $alpha: 0.3);
                    text-align: center;
                    color: white;
                }
                div:hover{
                    color: white;
                    background-color: rgb(243, 83, 82);
                }
            }
            // div.button{
            //     background-size: 30vh;
            //     img{
            //         width: 30vh;
            //     }
            // }
        }
    }
    div.message{
        div.title{
            h2{
                font-size: 4.5vw!important;
                margin:8%;
            }
        }
        div.content{
            padding: 0 10%;
        }
        div.profile{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            ul{
                width: 100%!important;
                margin: 0!important;
                p{
                    text-align: center;
                }
            }
            div.and{
                width: 100%!important;
            }
        }
    }
}

div.message{
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: rgb(255, 249, 238);
    div.olive{
        padding-top: 5%;
        text-align: center;
        img{
            width: 10%;
        }
    }
    div.title{
        margin: 3%;
        text-align: center;
        h2{
            margin: 8%;
            font-size: 2em;
            font-family: cursive;
            // color: rgb(209, 174, 21);
            color: rgb(243, 83, 82);
        }
    }
    div.content{
        text-align: center;
        margin: 3%;
        p{
            margin: 0;
            font-size: 1.1em;
            font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
            color: rgb(80, 80, 80);
        }
    }
    div.profile{
        margin-left: 10%;
        margin-right: 10%;
        overflow: hidden;
        height: 100%;
        // background-image: url(/assets//giraffe.png), url(/assets//thunder.png);
        // background-repeat: no-repeat, no-repeat;
        // background-size: 10%, 5%;
        // background-position: 65% 130px, 36% 150px;
        ul.broom{
            margin-top: 0;
            margin-left: 10%;
            margin-right: 0;
            padding: 0;
            width: 33%;
            list-style: none;
            float: left;
            li.photo{
                vertical-align: baseline;
                border: 0;
                text-align: center;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                }
            }
            li.name{
                vertical-align: baseline;
                text-align: -webkit-match-parent;
                text-align: center;
                font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                h3{
                    line-height: 1.0;
                    color: rgb(40, 40, 40);
                }
                span{
                    line-height: 0.5;
                    color: rgb(60, 60, 60);
                }
            }
            li.text{
                vertical-align: baseline;
                p{
                    font-size: 1rem;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    color: rgb(60, 60, 60);
                }
            }
        }
        div.and{
            width: 14%;
            height: 100px;
            margin-top: 40px;
            background-image: url(/assets//profile_and.png);
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: baseline;
            float: left;
        }
        ul.bride{
            margin-top: 0;
            margin-right: 10%;
            margin-left: 0;
            padding: 0;
            width: 33%;
            list-style: none;
            float: left;
            li.photo{
                vertical-align: baseline;
                text-align: center;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                }
            }
            li.name{
                vertical-align: baseline;
                text-align: -webkit-match-parent;
                text-align: center;
                font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                h3{
                    line-height: 1.0;
                    color: rgb(40, 40, 40);
                }
                span{
                    line-height: 0.5;
                    color: rgb(60, 60, 60);
                }
            }
            li.text{
                vertical-align: baseline;
                p{
                    font-size: 1rem;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    color: rgb(60, 60, 60);
                }
            }
        }
    }
}



div.countdown{
    margin: 0;
    width: 100%;
    // background-color: rgb(0, 153, 204);
    background-color: rgba(133, 152, 34, 0.8);
    
    div.content{
        padding: 5% 10%;
        text-align: center;
        div.title{
            text-align: center;
            h2{
                font-size: 2em;
                font-family: cursive;
                // color: rgb(209, 174, 21);
                color: rgb(243, 83, 82);
            }
            h3{
                font-size: 1.5em;
                font-family: cursive;
                // color: rgb(209, 174, 21);
                color: rgb(243, 83, 82);
            }
        }
        @media (max-width: 799px){
            div.title{
                h2{
                    font-size: 4.5vw!important;
                }
                h3{
                    font-size: 3vw!important;
                }
            }
            div.timer{
                display: flex;
                // flex-flow: column wrap;
                // align-items: center;
                text-align: center;
                height: 100%!important;
                overflow: hidden!important;
                width: 100%;
                list-style: none;
                div{
                    float: left!important;
                    width: 50%!important;
                    margin:0;
                    // height: 100%!important;
                    // overflow: hidden!important;
                    li{
                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                        color:  rgb(255, 249, 238);
                    }
                    li.num{
                        font-size: 7vw!important;
                    }
                    li.init{
                        font-size: 3vw!important;
                    }
                }  
            }
        }
        div.timer{
            padding-top: 5%;
            padding-bottom: 2%;
            text-align: center;
            list-style: none;
            overflow: hidden;
            height: 100%;
            width: 100%;
            div{
                width: 25%;
                overflow: hidden;
                height: 100%;
                margin: 0;
                float:left;
                text-align: center;
                li.num{
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    font-size: 6em;
                    color:  rgb(255, 249, 238);
                }
                li.init{
                    text-align: center;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    font-size: 2em;
                    color:  rgb(255, 249, 238);
                }
            }
                
        }
    }
}

@media (max-width: 799px){
    div.events{
        div.contents{
            padding: 0!important;
            div.title{
                p{
                    font-size: 4.5vw!important;
                }
            }
            div.schedule{
                ul{
                    li.day{
                        font-size: 2.5vw!important;
                    }
                }
            }
        }
        div.place{
            ul{
                // padding:0!important;
                width: 92%!important;
                float: none!important;
            }
        }
    } 
    div.RSVP{
        div.content{
            padding: 0em!important;
            padding-top: 10%!important;
            padding-bottom: 10%!important;
            div.content_in{
                div.title{
                    p{
                        font-size: 4.5vw!important;
                    }
                }
            }
        }
    }
}

div.events{
    width: 100%;
    div.contents{
        padding: 5% 10%;
        
        div.title{
            text-align: center;
            p{
                margin: 10% 0;
                font-size: 2em;
                font-family: cursive;
                // color: rgb(209, 174, 21);
                color: rgb(243, 83, 82);
            }
        }
        div.schedule{
            // background-image: url("/assets//ceremony.png"), url("/assets//reception.png");
            // background-repeat: no-repeat;
            // background-size: 160px, 190px;
            // background-position: 5% 100%, 100% 90%;
            display: block;
            padding-top: 5%;
            text-align: center;
            overflow: hidden;
            height: 100%;
            ul.reception{
                float: left;
                margin: 0;
                padding: 0;
                width: 50%;
                list-style: none;
                color: rgb(40, 40, 40);
                li.title{
                    span{
                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                        color: rgb(60, 60, 60);
                    }
                    h3{
                        text-decoration: underline double rgba(233, 122, 91, 0.9);
                    }
                }
                li.day{
                    margin-top: 10%;
                    p{
                        font-size: 1.5em;
                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    }
                }
                li.time{
                    font-size: 1.5em;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    p{
                        margin-bottom: 0em;
                    }
                }
                li.receptiontime{
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    color: rgb(80, 80, 80);
                    p{
                        margin-top: 1%;
                    }
                }
            }
            ul.party{
                float: left;
                margin: 0;
                padding: 0;
                width: 50%;
                list-style: none;
                color: rgb(40, 40, 40);
                li.title{
                    span{
                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                        color: rgb(60, 60, 60);
                    }
                    h3{
                        text-decoration: underline double rgba(133, 152, 34, 0.8);
                    }
                }
                li.day{
                    margin-top: 10%;
                    p{
                        font-size: 1.5em;
                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    }
                }
                li.time{
                    font-size: 1.5em;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    p{
                        margin-bottom: 0em;
                    }
                }
                li.receptiontime{
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    color: rgb(80, 80, 80);
                    p{
                        margin-top: 1%;
                    }
                }
            }
        }
        div.place{
            margin-top: 8%;
            padding: 8% 5%;
            // background-color: rgb(209, 174, 21);
            // background-color: rgb(232, 215, 18);
            text-align: center;
            overflow: hidden;
            height: 100%;
            ul{
                float: left;
                width: 42%;
                padding: 2%;
                margin: 2%;
                p{
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                    color: rgb(60, 60, 60);
                    font-size: 0.8rem;
                }
                p.name{
                    font-size: 1.8em;
                    font-family: cursive;
                }
                p.HP{
                    a{
                        color: rgb(60, 60, 60);
                    }
                }
                p.access{
                    font-size: 0.5vw;
                }
                p.attention{
                    text-decoration:underline wavy;
                }
                div.maps{
                    padding: 5% 0;
                    iframe{
                        height: 35vw;
                        width: 100%;
                    }
                }
            }
            ul.ogasawara{
                // background-color: rgb(232, 215, 18);
                background-color: rgba(233, 122, 91, 0.9);
            } 
            ul.hibiya{
                background-color: rgba(133, 152, 34, 0.8);
            }
        }
    }
}

div.RSVP{
    width: 100%;
    background-image: url("/assets//RSVP2.png");
    // background-color: rgb(255, 249, 238);
    div.content{
        padding: 5% 20%;
        div.content_in{
            background-color: rgb(255, 249, 238);
            text-align: center;
            div.title{
                p{
                    padding: 5%;
                    font-size: 2em;
                    font-family: cursive;
                    // color: rgb(209, 174, 21);
                    color: rgb(243, 83, 82);
                }
            }
            div.form{
                form{
                    div.rsvp_form{
                        color: rgb(50, 50, 50);
                        text-align: center;
                        div.attention{
                            margin: 5%;
                            p.attention{
                                font-size: 1.3vw;
                                text-align: left;
                            }
                            p.deadline{
                                font-size: 1.3vw;
                                span{
                                    font-size: 1.4vw;
                                    text-decoration: underline wavy;
                                }
                                text-align: left;
                                color: rgb(243, 83, 82);
                            }
                        }
                        div.radio{
                            margin: 5% 0;
                            text-align: center;
                            overflow: hidden;
                            height: 100%;
                            ul.radio{
                                margin: 0 18%;
                                padding: 0;
                                width: 64%;
                                list-style: none;
                                overflow: hidden;
                                height: 100%;
                                text-align: center;
                                position: relative;
                                p{
                                    font-size: 1.5vw;
                                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                                }
                                li.attendance{
                                    float: left;
                                    width: 45%;
                                    display: list-item;
                                    input.attendance{
                                        display: none;
                                    }
                                    label.label{
                                        display: block!important;
                                        padding: 30px;
                                        font-size: 1.3rem;
                                        cursor: pointer;
                                        span{
                                            display: block;
                                            font-size: 0.7rem;
                                            line-height: 1.6;
                                        }
                                    }
                                    input[type="radio"]:checked.attendance+label.label{
                                        background-image: url("/assets//checked.png")!important;
                                        background-repeat: no-repeat!important;
                                        background-position: center!important;
                                    }
                                }
                            }
                        }
                        div.self_info{
                            padding: 5%;
                            p.attention_title{
                                text-align: left;
                                color: rgb(243, 83, 82);
                            }
                            dl{
                                margin: 5% 0;
                                width: 100%;
                                position: relative;
                                dt{
                                    width: 30%;
                                    float: left;
                                    text-align: left;
                                    display: block;
                                    p{
                                        color: rgb(50, 50, 50);
                                        margin: 0;
                                        font-size: 1.2vw;
                                    }
                                    p.required::after{
                                        content: "*";
                                        font-size: 1vw;
                                        padding-left: 2%;
                                        color: rgb(243, 83, 82);
                                    }
                                    span{
                                        font-size: 0.6rem;
                                    }
                                }
                                dd{
                                    width: 70%;
                                    margin: 0;
                                    padding-left: 30%;
                                    input{
                                        padding-left: 10px;
                                        outline-color: rgb(243, 83, 82);
                                        border: none;
                                        width: 67.5%;
                                        height: 50px;
                                    }
                                    input::placeholder{
                                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                                        // padding-left: 10px;
                                        font-size: 0.8vw;
                                    }
                                    textarea{
                                        padding-left: 10px;
                                        padding-top: 12px;
                                        outline-color: rgb(243, 83, 82);
                                        border: none;
                                        width: 67.5%;
                                        height: 100px;
                                        resize: none;
                                    }
                                    textarea::placeholder{
                                        font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                                        // padding-left: 10px;
                                        font-size: 0.8rem;
                                    }
                                }
                                dd.name{
                                    input{
                                        width: 30%;
                                        height: 50px;
                                        margin: 0 2.5%;
                                    }
                                }
                            }
                        }
                        $green: rgba(133, 152, 34, 0.8);
                        $gray: #bbbbbb;
                        .container {
                            margin: 0;
                            padding-bottom: 10%;
                            width: 100%;
                            // width: 130px;
                            height: 40px;
                            text-align: center;
                            input {
                                outline:none;
                                height: 40px;
                                text-align: center;
                                width: 130px;
                                border-radius:40px;
                                background: #fff;
                                border: 2px solid $green;
                                color:$green;
                                letter-spacing:1px;
                                text-shadow:0;
                                font:{
                                  size:12px;
                                  weight:bold;
                                }
                                cursor: pointer;
                                transition: all 0.25s ease;
                                &:hover {
                                  color:white;
                                  background: $green;
                                }
                                &:active {
                                  //letter-spacing: 2px;
                                  letter-spacing: 2px ;
                                }
                                &:after {
                                  content:"SUBMIT";
                                }
                            }
                            .onclic {
                                width: 40px;
                                border-color:$gray;
                                border-width:3px;
                                font-size:0;
                                border-left-color:$green;
                                animation: rotating 2s 0.25s linear infinite;
                              
                                &:after {
                                  content:"";
                                }
                                &:hover {
                                  color:$green;
                                  background: white;
                                }
                            }
                            .validate {
                                font-size:13px;
                                color: white;
                                background: $green;
                                &:after {
                                  font-family:'FontAwesome';
                                  content:"\f00c";
                                }
                            }
                              
                            @keyframes rotating {
                                from {
                                  transform: rotate(0deg);
                                }
                                to {
                                  transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
                div#success{
                    padding-bottom: 5%;
                    display: none;
                    color: rgb(243, 83, 82);
                    font-size: 1vw;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                }
                div#error{
                    padding-bottom: 5%;
                    display: none;
                    color: rgb(243, 83, 82);
                    font-size: 1vw;
                    font-family: 'Sawarabi Gothic', 'M PLUS 1p', 'M PLUS Rounded 1c',sans-serif;
                }
            }
        }    
    }
}